body
{
    color: rgb(134, 0, 0);
    text-align: center;
    font-family: "arial";
    font-size: 10px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(48, 10, 119);
    color: white;
    font-weight: bold;
    margin:0;
    padding: 0.5em;
}

#Container
{
width: 70%;
padding: 1em;
text-align:center;
border: 1px solid rgb(82, 82, 82);
margin: 0 auto
}

#container h1
{
    font-size: 20px;
}